.section-adreses {
  margin-top: 2em;
  .adreses {
    .adreses__head {
      font-size: 0.9em;
      text-align: center;
      background: #3d6277;
      color: #ffffff;
      padding: 1em 0;
      margin: 0;
      border-radius: 0.7em 0.7em 0 0;
      .okrug,
      .ifns {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    .adreses-body {
      position: relative;
      .adreses-body__item {
        align-items: center;
        text-align: center;
        color: #444444;
        padding: 0.5em 0;
        margin: 0.3em 0;
        font-size: 0.8em;
        &:nth-child(2n + 1) {
          background: #e2e0d7;
        }
        .okrug,
        .ifns {
          @media screen and (max-width: 576px) {
            display: none;
          }
        }
        .adres {
          display: flex;
          justify-content: space-between;
          img {
            width: 42px;
            height: 32px;
            transition: 0.5s;
            &:hover {
              transform: scale(8);
              z-index: 99;
            }
          }
          p {
            width: 100%;
            text-align: start;
          }
        }
        .month {
          p {
            display: flex;
            align-items: center;
            justify-content: space-around;
            button {
              width: 60%;
              height: 32px;
              padding-left: 0;
              padding-right: 0;
              background: #6abf8e;
              color: #ffffff;
              font-family: "Montserrat", sans-serif;
            }
          }
        }
      }
      .adreses-body__info {
        padding: 0.5em 0;
        margin: 0.3em 0;
        align-items: center;
        .info-picture {
          img {
            width: 100%;
            height: auto;
          }
        }
        .info-description {
          p {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
.modal-adress {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  .adress-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e2e0d7;
    border-radius: 0.7em;
    margin: auto;
    width: 60%;
    @media screen and (max-width: 576px) {
      width: 95%;
      max-height: 90vh;
      overflow: auto;
    }
    .adress-card__head,
    .adress-card__field {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .adress-card__head {
      font-size: 1.1em;
      text-align: center;
      background: #3d6277;
      color: #ffffff;
      padding: 0.5em 0;
      margin: 0;
    }
    .adress-card__head:nth-of-type(1) {
      border-radius: 0.7em 0.7em 0 0;
      .ifns,
      .district {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    .adress-card__field {
      text-align: center;
      color: #444444;
      padding: 0.5em 0;
      margin: 0;
      font-size: 1em;
      @media screen and (max-width: 576px) {
        font-size: 0.85em;
      }
      .adress {
        text-align: start;
      }
      .ifns_ajax {
        @media screen and (max-width: 768px) {
          justify-content: flex-start;
          margin-bottom: 0.5em;
        }
        @media screen and (max-width: 576px) {
          justify-content: center;
        }
      }
    }
    .adress-card__field {
      .image {
        padding: 0 15px;
        align-items: flex-start;
        overflow: hidden;
        @media screen and (max-width: 768px) {
          margin-bottom: 0.5em;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
          max-height: 400px;
          max-width: 100%;
        }
      }
      div.discription {
        align-items: flex-start;
        p {
          text-align: start;
        }
      }
    }
    button.button {
      background: #3d6277;
      border-radius: 0 0 0.7em 0.7em;
      color: #ffffff;
    }
    .close-btn {
      position: absolute;
      top: 6px;
      right: 7px;
      cursor: pointer;
      background: #ffffff;
      border-radius: 50%;
      .close {
        width: 25px;
        height: 25px;
        display: block;
      }
    }
  }
}
