@import "fonts";
@import "adreses";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 2em;
  padding: 1em 0;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #ebebe8;
}
.logo {
  font-family: "Cookie";
  font-size: 3em;
}
.button {
  width: 100%;
  height: 40px;
  padding: 0.5em 1em;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    filter: brightness(90%);
  }
}
.pink {
  color: #be4888;
}
.header,
.footer {
  background: #454545;
  padding: 1em 0;
  position: relative;
  z-index: 1;
  .header-top {
    background: #454545;
    .header-top-item {
      display: flex;
      align-items: center;
      .header-top-item__contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .email,
        .phone {
          margin: 0.5em 0;
          transition: 0.5s;
          &:hover {
            color: #be4888;
          }
        }
        @media screen and (max-width: 667px) {
          display: none;
        }
      }
      .header-top-item__burger {
        display: none;
        width: 100%;
        cursor: pointer;
        @media screen and (max-width: 667px) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .burger-line {
          width: 25px;
          height: 3px;
          background: #ffffff;
          margin: 0.2em 0;
        }
      }
    }
  }
  .navigation {
    padding: 1em 0;
    .navigation-menu {
      .nav-item {
        margin-right: 1em;
        color: #e2e0d7;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
          color: #be4888;
        }
      }
    }
    @media screen and (max-width: 667px) {
      display: none;
    }
  }
  .navigation-min {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding-top: 1em;
    background: #454545;
    z-index: -1;
    .navigation-menu {
      display: flex;
      flex-direction: column;
      .nav-item,
      .phone {
        margin-bottom: 1em;
        color: #e2e0d7;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
          color: #be4888;
        }
      }
    }
  }
}
.main-section {
  position: relative;
  margin-bottom: 5em;
  .title {
    text-align: center;
    color: #444444;
  }
  .row {
    justify-content: center;
  }
  .slider {
    img {
      width: 100%;
      box-shadow: 0.4em 0.4em 1em #000;
    }
  }
  .contact-form {
    padding: 3em 0.9em;
    background: #e2e0d7;
    box-shadow: 0 0 1em #000;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1.1);
    @media screen and (max-width: 991px) {
      transform: scale(1);
      margin-top: 2em;
    }
    p {
      color: #444444;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      line-height: 1;
    }
    .form-callback {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      input,
      button {
        width: 100%;
        height: 40px;
        margin: 0.3em 0;
        border: none;
        font-size: 1em;
        outline: none;
      }
      input {
        padding: 0.2em 0.7em;
      }
      .btn-callback {
        background: #6abf8e;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }
}
.section {
  width: 100%;
  .title {
    width: 100%;
    position: relative;
    z-index: 0;
    text-align: center;
    h2 {
      display: inline;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-weight: 500;
      background: #ebebe8;
      color: #444444;
      padding: 0 1em;
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 2px;
        background: #444444;
        top: calc(50% - 2px);
        left: 0;
      }
    }
  }
  .content {
    padding: 4em 0;
    line-height: 2em;
  }
  .content.services {
    .services-item {
      margin: 0.7em 0;
      transition: 0.5s;
      .services-item__title {
        background: #e2e0d7;
        text-align: center;
        padding: 0.7em 1em;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 0 0.5em #444444;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          transform: translateY(-0.4em);
        }
        .services__icon {
          width: 25px;
          height: 25px;
          margin-right: 0.6em;
          padding: 1em;
        }
      }
      .services-item__box {
        display: none;
        padding: 2em 1em;
        & > p {
          margin-bottom: 1em;
        }
        .price-box {
          margin-top: 2em;
          p {
            font-size: 1.3em;
            font-weight: 500;
          }
          button {
            background: #6abf8e;
            color: #ffffff;
            margin-top: 2em;
            border: 1px solid #444444;
          }
        }
      }
      &:nth-of-type(1) {
        .price-box {
          width: calc(50% - 2em);
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}
.tarif-section {
  .content {
    justify-content: center;
    .tarif-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #444444;
      padding: 15px 15px 15px 15px;
      margin: 0 1em 1em;
      box-shadow: 0 0 0.5em #444444;
      transition: 0.5s;
      &:hover {
        transform: scale(1.05);
      }
      .tarif-info {
        list-style: none;
        margin-top: 2em;
        .tarif-info__item {
          padding-left: 1.9em;
          margin-bottom: 0.5em;
          position: relative;
          &::before {
            content: "+";
            width: 0.7em;
            position: absolute;
            color: #87b9af;
            top: 0;
            bottom: 0;
            left: -0.3em;
            margin-left: 0.3em;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .minus::before {
          content: "-";
        }
        .attention::before {
          content: "!";
        }
      }
      div {
        width: 100%;
        text-align: center;
        margin-top: 1.5em;
        .tarif__price {
          color: #be4888;
          font-size: 1.5em;
          font-weight: 700;
        }
        .tarif__btn {
          background: #6abf8e;
          color: #ffffff;
          margin-top: 1em;
        }
      }
    }
  }
}
.adreses-section {
  .content {
    padding-bottom: 3em;
    .slider {
      .slider-item {
        margin: 0 0.5em;
        a {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 0.5em 1em;
          height: 300px;
          box-shadow: 0 0 0.5em #444;
          position: relative;
          &::after {
            content: "";
            background: rgb(68, 68, 68);
            opacity: 0.3;
            position: absolute;
            width: 100%;
            height: 300px;
            left: 0;
            top: 0;
            transition: 1.2s;
          }
          &:hover::after {
            opacity: 0;
          }
          p {
            width: 100%;
            text-align: center;
            background: rgba(61, 98, 119, 0.6);
          }
          button {
            background: rgba(61, 98, 119, 0.6);
            color: white;
          }
        }
      }
    }
  }
  .section-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
    .slider__btn {
      background: #6abf8e;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
  }
}
.contacts-section {
  .content {
    padding-bottom: 0;
  }
}
