header {
  color: black; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Cookie";
  src: url("../fonts/Cookie-Regular.ttf");
  font-weight: 400; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

h1 {
  font-size: 2em;
  padding: 1em 0; }

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #ebebe8; }

.logo {
  font-family: "Cookie";
  font-size: 3em; }

.button {
  width: 100%;
  height: 40px;
  padding: 0.5em 1em;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  transition: 0.5s; }
  .button:hover {
    filter: brightness(90%); }

.pink {
  color: #be4888; }

.header,
.footer {
  background: #454545;
  padding: 1em 0;
  position: relative;
  z-index: 1; }
  .header .header-top,
  .footer .header-top {
    background: #454545; }
    .header .header-top .header-top-item,
    .footer .header-top .header-top-item {
      display: flex;
      align-items: center; }
      .header .header-top .header-top-item .header-top-item__contacts,
      .footer .header-top .header-top-item .header-top-item__contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .header .header-top .header-top-item .header-top-item__contacts .email,
        .header .header-top .header-top-item .header-top-item__contacts .phone,
        .footer .header-top .header-top-item .header-top-item__contacts .email,
        .footer .header-top .header-top-item .header-top-item__contacts .phone {
          margin: 0.5em 0;
          transition: 0.5s; }
          .header .header-top .header-top-item .header-top-item__contacts .email:hover,
          .header .header-top .header-top-item .header-top-item__contacts .phone:hover,
          .footer .header-top .header-top-item .header-top-item__contacts .email:hover,
          .footer .header-top .header-top-item .header-top-item__contacts .phone:hover {
            color: #be4888; }
        @media screen and (max-width: 500px) {
          .header .header-top .header-top-item .header-top-item__contacts,
          .footer .header-top .header-top-item .header-top-item__contacts {
            display: none; } }
      .header .header-top .header-top-item .header-top-item__burger,
      .footer .header-top .header-top-item .header-top-item__burger {
        display: none;
        width: 100%;
        cursor: pointer; }
        @media screen and (max-width: 500px) {
          .header .header-top .header-top-item .header-top-item__burger,
          .footer .header-top .header-top-item .header-top-item__burger {
            display: flex;
            flex-direction: column;
            align-items: flex-end; } }
        .header .header-top .header-top-item .header-top-item__burger .burger-line,
        .footer .header-top .header-top-item .header-top-item__burger .burger-line {
          width: 25px;
          height: 3px;
          background: #ffffff;
          margin: 0.2em 0; }
  .header .navigation,
  .footer .navigation {
    padding: 1em 0; }
    .header .navigation .navigation-menu .nav-item,
    .footer .navigation .navigation-menu .nav-item {
      margin-right: 1em;
      color: #e2e0d7;
      text-transform: uppercase;
      transition: 0.5s; }
      .header .navigation .navigation-menu .nav-item:hover,
      .footer .navigation .navigation-menu .nav-item:hover {
        color: #be4888; }
    @media screen and (max-width: 500px) {
      .header .navigation,
      .footer .navigation {
        display: none; } }
  .header .navigation-min,
  .footer .navigation-min {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 1em;
    background: #454545;
    z-index: -1; }
    .header .navigation-min .navigation-menu,
    .footer .navigation-min .navigation-menu {
      display: flex;
      flex-direction: column; }
      .header .navigation-min .navigation-menu .nav-item,
      .footer .navigation-min .navigation-menu .nav-item {
        margin-bottom: 1em;
        color: #e2e0d7;
        text-transform: uppercase;
        transition: 0.5s; }
        .header .navigation-min .navigation-menu .nav-item:hover,
        .footer .navigation-min .navigation-menu .nav-item:hover {
          color: #be4888; }

.main-section {
  position: relative;
  margin-bottom: 5em; }
  .main-section .title {
    text-align: center;
    color: #444444; }
  .main-section .row {
    justify-content: center; }
  .main-section .slider img {
    width: 100%;
    box-shadow: 0.4em 0.4em 1em #000; }
  .main-section .contact-form {
    padding: 3em 0.9em;
    background: #e2e0d7;
    box-shadow: 0 0 1em #000;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1.1); }
    @media screen and (max-width: 991px) {
      .main-section .contact-form {
        transform: scale(1);
        margin-top: 2em; } }
    .main-section .contact-form p {
      color: #444444;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      line-height: 1; }
    .main-section .contact-form .form-callback {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-section .contact-form .form-callback input,
      .main-section .contact-form .form-callback button {
        width: 100%;
        height: 40px;
        margin: 0.3em 0;
        border: none;
        font-size: 1em; }
      .main-section .contact-form .form-callback input {
        padding: 0.2em 0.7em; }
      .main-section .contact-form .form-callback .btn-callback {
        background: #6abf8e;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s; }
        .main-section .contact-form .form-callback .btn-callback:hover {
          filter: brightness(90%); }

.section {
  width: 100%; }
  .section .title {
    width: 100%;
    position: relative;
    z-index: 0;
    text-align: center; }
    .section .title h2 {
      display: inline;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-weight: 500;
      background: #ebebe8;
      color: #444444;
      padding: 0 1em; }
      .section .title h2::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 2px;
        background: #444444;
        top: calc(50% - 2px);
        left: 0; }
  .section .content {
    padding: 4em 0;
    line-height: 2em; }
  .section .content.services .services-item {
    margin: 0.3em 0; }
    .section .content.services .services-item .services-item__title {
      background: #e2e0d7;
      text-align: center;
      padding: 0.7em 1em;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 0 0 0.5em #444444; }
    .section .content.services .services-item .services-item__box {
      display: none;
      padding: 2em 1em; }
      .section .content.services .services-item .services-item__box > p {
        margin-bottom: 1em; }
      .section .content.services .services-item .services-item__box .price-box {
        margin-top: 2em; }
        .section .content.services .services-item .services-item__box .price-box p {
          font-size: 1.3em;
          font-weight: 500; }
        .section .content.services .services-item .services-item__box .price-box button {
          background: #6abf8e;
          color: #ffffff;
          margin-top: 2em;
          border: 1px solid #444444; }
    .section .content.services .services-item:nth-of-type(1) .price-box {
      width: calc(50% - 2em); }
      @media screen and (max-width: 768px) {
        .section .content.services .services-item:nth-of-type(1) .price-box {
          width: 100%; } }

.tarif-section .content {
  justify-content: center; }
  .tarif-section .content .tarif-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #444444;
    padding: 15px 15px 15px 15px;
    margin: 0 1em 1em;
    box-shadow: 0 0 0.5em #444444;
    transition: 0.5s; }
    .tarif-section .content .tarif-item:hover {
      transform: scale(1.05); }
    .tarif-section .content .tarif-item .tarif-info {
      list-style: none;
      margin-top: 2em; }
      .tarif-section .content .tarif-item .tarif-info .tarif-info__item {
        padding-left: 1.9em;
        margin-bottom: 0.5em;
        position: relative; }
        .tarif-section .content .tarif-item .tarif-info .tarif-info__item::before {
          content: "+";
          width: 0.7em;
          position: absolute;
          color: #87b9af;
          top: 0;
          bottom: 0;
          left: -0.3em;
          margin-left: 0.3em;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center; }
      .tarif-section .content .tarif-item .tarif-info .minus::before {
        content: "-"; }
      .tarif-section .content .tarif-item .tarif-info .attention::before {
        content: "!"; }
    .tarif-section .content .tarif-item div {
      width: 100%;
      text-align: center;
      margin-top: 1.5em; }
      .tarif-section .content .tarif-item div .tarif__price {
        color: #be4888;
        font-size: 1.5em;
        font-weight: 700; }
      .tarif-section .content .tarif-item div .tarif__btn {
        background: #6abf8e;
        color: #ffffff;
        margin-top: 1em; }
