.section-adreses {
  margin-top: 2em; }
  .section-adreses .adreses .adreses__head {
    font-size: 0.9em;
    text-align: center;
    background: #3d6277;
    color: #ffffff;
    padding: 1em 0;
    margin: 0;
    border-radius: 0.7em 0.7em 0 0; }
    @media screen and (max-width: 576px) {
      .section-adreses .adreses .adreses__head .okrug,
      .section-adreses .adreses .adreses__head .ifns {
        display: none; } }
  .section-adreses .adreses .adreses-body {
    position: relative; }
    .section-adreses .adreses .adreses-body .adreses-body__item {
      align-items: center;
      text-align: center;
      color: #444444;
      padding: 0.5em 0;
      margin: 0.3em 0;
      font-size: 0.8em; }
      .section-adreses .adreses .adreses-body .adreses-body__item:nth-child(2n + 1) {
        background: #e2e0d7; }
      @media screen and (max-width: 576px) {
        .section-adreses .adreses .adreses-body .adreses-body__item .okrug,
        .section-adreses .adreses .adreses-body .adreses-body__item .ifns {
          display: none; } }
      .section-adreses .adreses .adreses-body .adreses-body__item .adres {
        display: flex;
        justify-content: space-between; }
        .section-adreses .adreses .adreses-body .adreses-body__item .adres img {
          width: 42px;
          height: 32px;
          transition: 0.5s; }
          .section-adreses .adreses .adreses-body .adreses-body__item .adres img:hover {
            transform: scale(8);
            z-index: 99; }
        .section-adreses .adreses .adreses-body .adreses-body__item .adres p {
          width: 100%;
          text-align: start; }
      .section-adreses .adreses .adreses-body .adreses-body__item .month p {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .section-adreses .adreses .adreses-body .adreses-body__item .month p button {
          width: 60%;
          height: 32px;
          padding-left: 0;
          padding-right: 0;
          background: #6abf8e;
          color: #ffffff;
          font-family: "Montserrat", sans-serif; }
    .section-adreses .adreses .adreses-body .adreses-body__info {
      padding: 0.5em 0;
      margin: 0.3em 0;
      align-items: center; }
      .section-adreses .adreses .adreses-body .adreses-body__info .info-picture img {
        width: 100%;
        height: auto; }
      .section-adreses .adreses .adreses-body .adreses-body__info .info-description p {
        font-size: 0.8em; }

.modal-adress,
.callback-modal {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3); }
  .modal-adress .adress-card,
  .modal-adress .callback-form,
  .callback-modal .adress-card,
  .callback-modal .callback-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e2e0d7;
    border-radius: 0.7em;
    margin: auto;
    width: 60%; }
    @media screen and (max-width: 576px) {
      .modal-adress .adress-card,
      .modal-adress .callback-form,
      .callback-modal .adress-card,
      .callback-modal .callback-form {
        width: 95%;
        max-height: 90vh;
        overflow: auto; } }
    .modal-adress .adress-card .adress-card__head div,
    .modal-adress .adress-card .adress-card__field div,
    .modal-adress .callback-form .adress-card__head div,
    .modal-adress .callback-form .adress-card__field div,
    .callback-modal .adress-card .adress-card__head div,
    .callback-modal .adress-card .adress-card__field div,
    .callback-modal .callback-form .adress-card__head div,
    .callback-modal .callback-form .adress-card__field div {
      display: flex;
      justify-content: center;
      align-items: center; }
    .modal-adress .adress-card .adress-card__head,
    .modal-adress .callback-form .adress-card__head,
    .callback-modal .adress-card .adress-card__head,
    .callback-modal .callback-form .adress-card__head {
      font-size: 1.1em;
      text-align: center;
      background: #3d6277;
      color: #ffffff;
      padding: 0.5em 0;
      margin: 0; }
    .modal-adress .adress-card .adress-card__head:nth-of-type(1),
    .modal-adress .callback-form .adress-card__head:nth-of-type(1),
    .callback-modal .adress-card .adress-card__head:nth-of-type(1),
    .callback-modal .callback-form .adress-card__head:nth-of-type(1) {
      border-radius: 0.7em 0.7em 0 0; }
      @media screen and (max-width: 576px) {
        .modal-adress .adress-card .adress-card__head:nth-of-type(1) .ifns,
        .modal-adress .adress-card .adress-card__head:nth-of-type(1) .district,
        .modal-adress .callback-form .adress-card__head:nth-of-type(1) .ifns,
        .modal-adress .callback-form .adress-card__head:nth-of-type(1) .district,
        .callback-modal .adress-card .adress-card__head:nth-of-type(1) .ifns,
        .callback-modal .adress-card .adress-card__head:nth-of-type(1) .district,
        .callback-modal .callback-form .adress-card__head:nth-of-type(1) .ifns,
        .callback-modal .callback-form .adress-card__head:nth-of-type(1) .district {
          display: none; } }
    .modal-adress .adress-card .adress-card__field,
    .modal-adress .callback-form .adress-card__field,
    .callback-modal .adress-card .adress-card__field,
    .callback-modal .callback-form .adress-card__field {
      text-align: center;
      color: #444444;
      padding: 0.5em 0;
      margin: 0;
      font-size: 1em; }
      @media screen and (max-width: 576px) {
        .modal-adress .adress-card .adress-card__field,
        .modal-adress .callback-form .adress-card__field,
        .callback-modal .adress-card .adress-card__field,
        .callback-modal .callback-form .adress-card__field {
          font-size: 0.85em; } }
      .modal-adress .adress-card .adress-card__field .adress,
      .modal-adress .callback-form .adress-card__field .adress,
      .callback-modal .adress-card .adress-card__field .adress,
      .callback-modal .callback-form .adress-card__field .adress {
        text-align: start; }
      @media screen and (max-width: 768px) {
        .modal-adress .adress-card .adress-card__field .ifns_ajax,
        .modal-adress .callback-form .adress-card__field .ifns_ajax,
        .callback-modal .adress-card .adress-card__field .ifns_ajax,
        .callback-modal .callback-form .adress-card__field .ifns_ajax {
          justify-content: flex-start;
          margin-bottom: 0.5em; } }
      @media screen and (max-width: 576px) {
        .modal-adress .adress-card .adress-card__field .ifns_ajax,
        .modal-adress .callback-form .adress-card__field .ifns_ajax,
        .callback-modal .adress-card .adress-card__field .ifns_ajax,
        .callback-modal .callback-form .adress-card__field .ifns_ajax {
          justify-content: center; } }
    .modal-adress .adress-card .adress-card__field .image,
    .modal-adress .callback-form .adress-card__field .image,
    .callback-modal .adress-card .adress-card__field .image,
    .callback-modal .callback-form .adress-card__field .image {
      padding: 0 15px;
      align-items: center;
      overflow: hidden; }
      @media screen and (max-width: 768px) {
        .modal-adress .adress-card .adress-card__field .image,
        .modal-adress .callback-form .adress-card__field .image,
        .callback-modal .adress-card .adress-card__field .image,
        .callback-modal .callback-form .adress-card__field .image {
          margin-bottom: 0.5em; } }
      .modal-adress .adress-card .adress-card__field .image .image_wrap,
      .modal-adress .callback-form .adress-card__field .image .image_wrap,
      .callback-modal .adress-card .adress-card__field .image .image_wrap,
      .callback-modal .callback-form .adress-card__field .image .image_wrap {
        width: 100%; }
      .modal-adress .adress-card .adress-card__field .image img,
      .modal-adress .callback-form .adress-card__field .image img,
      .callback-modal .adress-card .adress-card__field .image img,
      .callback-modal .callback-form .adress-card__field .image img {
        display: block;
        width: 100%;
        width: initial;
        height: auto;
        max-height: 400px;
        max-width: 100%; }
      .modal-adress .adress-card .adress-card__field .image .slick-arrow,
      .modal-adress .callback-form .adress-card__field .image .slick-arrow,
      .callback-modal .adress-card .adress-card__field .image .slick-arrow,
      .callback-modal .callback-form .adress-card__field .image .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        border: none;
        border-radius: 50%;
        outline: none;
        background: transparent;
        width: 25px;
        height: 25px;
        background: url("../png/next.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
        .modal-adress .adress-card .adress-card__field .image .slick-arrow.slick-next,
        .modal-adress .callback-form .adress-card__field .image .slick-arrow.slick-next,
        .callback-modal .adress-card .adress-card__field .image .slick-arrow.slick-next,
        .callback-modal .callback-form .adress-card__field .image .slick-arrow.slick-next {
          right: 15px;
          transform: translateY(-50%); }
        .modal-adress .adress-card .adress-card__field .image .slick-arrow.slick-prev,
        .modal-adress .callback-form .adress-card__field .image .slick-arrow.slick-prev,
        .callback-modal .adress-card .adress-card__field .image .slick-arrow.slick-prev,
        .callback-modal .callback-form .adress-card__field .image .slick-arrow.slick-prev {
          left: 15px;
          transform: translateY(-50%) rotate(180deg); }
    .modal-adress .adress-card .adress-card__field div.discription,
    .modal-adress .callback-form .adress-card__field div.discription,
    .callback-modal .adress-card .adress-card__field div.discription,
    .callback-modal .callback-form .adress-card__field div.discription {
      align-items: flex-start; }
      .modal-adress .adress-card .adress-card__field div.discription p,
      .modal-adress .callback-form .adress-card__field div.discription p,
      .callback-modal .adress-card .adress-card__field div.discription p,
      .callback-modal .callback-form .adress-card__field div.discription p {
        text-align: start; }
    .modal-adress .adress-card .modal_form,
    .modal-adress .callback-form .modal_form,
    .callback-modal .adress-card .modal_form,
    .callback-modal .callback-form .modal_form {
      text-align: center; }
      .modal-adress .adress-card .modal_form input,
      .modal-adress .callback-form .modal_form input,
      .callback-modal .adress-card .modal_form input,
      .callback-modal .callback-form .modal_form input {
        display: inline-block;
        background: none;
        width: 49%;
        height: 40px;
        border: none;
        border-bottom: 1px solid #6abf8e;
        font-size: 1em;
        outline: none;
        padding: 0.2em 0.7em; }
        @media screen and (max-width: 414px) {
          .modal-adress .adress-card .modal_form input,
          .modal-adress .callback-form .modal_form input,
          .callback-modal .adress-card .modal_form input,
          .callback-modal .callback-form .modal_form input {
            width: 95%;
            margin-top: 0.2rem; } }
      .modal-adress .adress-card .modal_form button.button,
      .modal-adress .callback-form .modal_form button.button,
      .callback-modal .adress-card .modal_form button.button,
      .callback-modal .callback-form .modal_form button.button {
        background: #3d6277;
        border-radius: 0 0 0.7em 0.7em;
        color: #ffffff;
        margin-top: 0.2rem; }
    .modal-adress .adress-card .close-btn,
    .modal-adress .callback-form .close-btn,
    .callback-modal .adress-card .close-btn,
    .callback-modal .callback-form .close-btn {
      position: absolute;
      top: 6px;
      right: 7px;
      cursor: pointer;
      background: #ffffff;
      border-radius: 50%; }
      .modal-adress .adress-card .close-btn .close,
      .modal-adress .callback-form .close-btn .close,
      .callback-modal .adress-card .close-btn .close,
      .callback-modal .callback-form .close-btn .close {
        width: 25px;
        height: 25px;
        display: block; }

.callback-modal .callback-form {
  padding: 0.5rem;
  width: 400px; }
  @media screen and (max-width: 576px) {
    .callback-modal .callback-form {
      width: 95%;
      max-height: 90vh;
      overflow: auto; } }

header {
  color: black; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Cookie";
  src: url("../fonts/Cookie-Regular.ttf");
  font-weight: 400; }

.section-adreses {
  margin-top: 2em; }
  .section-adreses .adreses .adreses__head {
    font-size: 0.9em;
    text-align: center;
    background: #3d6277;
    color: #ffffff;
    padding: 1em 0;
    margin: 0;
    border-radius: 0.7em 0.7em 0 0; }
    @media screen and (max-width: 576px) {
      .section-adreses .adreses .adreses__head .okrug,
      .section-adreses .adreses .adreses__head .ifns {
        display: none; } }
  .section-adreses .adreses .adreses-body {
    position: relative; }
    .section-adreses .adreses .adreses-body .adreses-body__item {
      align-items: center;
      text-align: center;
      color: #444444;
      padding: 0.5em 0;
      margin: 0.3em 0;
      font-size: 0.8em; }
      .section-adreses .adreses .adreses-body .adreses-body__item:nth-child(2n + 1) {
        background: #e2e0d7; }
      @media screen and (max-width: 576px) {
        .section-adreses .adreses .adreses-body .adreses-body__item .okrug,
        .section-adreses .adreses .adreses-body .adreses-body__item .ifns {
          display: none; } }
      .section-adreses .adreses .adreses-body .adreses-body__item .adres {
        display: flex;
        justify-content: space-between; }
        .section-adreses .adreses .adreses-body .adreses-body__item .adres img {
          width: 42px;
          height: 32px;
          transition: 0.5s; }
          .section-adreses .adreses .adreses-body .adreses-body__item .adres img:hover {
            transform: scale(8);
            z-index: 99; }
        .section-adreses .adreses .adreses-body .adreses-body__item .adres p {
          width: 100%;
          text-align: start; }
      .section-adreses .adreses .adreses-body .adreses-body__item .month p {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .section-adreses .adreses .adreses-body .adreses-body__item .month p button {
          width: 60%;
          height: 32px;
          padding-left: 0;
          padding-right: 0;
          background: #6abf8e;
          color: #ffffff;
          font-family: "Montserrat", sans-serif; }
    .section-adreses .adreses .adreses-body .adreses-body__info {
      padding: 0.5em 0;
      margin: 0.3em 0;
      align-items: center; }
      .section-adreses .adreses .adreses-body .adreses-body__info .info-picture img {
        width: 100%;
        height: auto; }
      .section-adreses .adreses .adreses-body .adreses-body__info .info-description p {
        font-size: 0.8em; }

.modal-adress,
.callback-modal {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3); }
  .modal-adress .adress-card,
  .modal-adress .callback-form,
  .callback-modal .adress-card,
  .callback-modal .callback-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e2e0d7;
    border-radius: 0.7em;
    margin: auto;
    width: 60%; }
    @media screen and (max-width: 576px) {
      .modal-adress .adress-card,
      .modal-adress .callback-form,
      .callback-modal .adress-card,
      .callback-modal .callback-form {
        width: 95%;
        max-height: 90vh;
        overflow: auto; } }
    .modal-adress .adress-card .adress-card__head div,
    .modal-adress .adress-card .adress-card__field div,
    .modal-adress .callback-form .adress-card__head div,
    .modal-adress .callback-form .adress-card__field div,
    .callback-modal .adress-card .adress-card__head div,
    .callback-modal .adress-card .adress-card__field div,
    .callback-modal .callback-form .adress-card__head div,
    .callback-modal .callback-form .adress-card__field div {
      display: flex;
      justify-content: center;
      align-items: center; }
    .modal-adress .adress-card .adress-card__head,
    .modal-adress .callback-form .adress-card__head,
    .callback-modal .adress-card .adress-card__head,
    .callback-modal .callback-form .adress-card__head {
      font-size: 1.1em;
      text-align: center;
      background: #3d6277;
      color: #ffffff;
      padding: 0.5em 0;
      margin: 0; }
    .modal-adress .adress-card .adress-card__head:nth-of-type(1),
    .modal-adress .callback-form .adress-card__head:nth-of-type(1),
    .callback-modal .adress-card .adress-card__head:nth-of-type(1),
    .callback-modal .callback-form .adress-card__head:nth-of-type(1) {
      border-radius: 0.7em 0.7em 0 0; }
      @media screen and (max-width: 576px) {
        .modal-adress .adress-card .adress-card__head:nth-of-type(1) .ifns,
        .modal-adress .adress-card .adress-card__head:nth-of-type(1) .district,
        .modal-adress .callback-form .adress-card__head:nth-of-type(1) .ifns,
        .modal-adress .callback-form .adress-card__head:nth-of-type(1) .district,
        .callback-modal .adress-card .adress-card__head:nth-of-type(1) .ifns,
        .callback-modal .adress-card .adress-card__head:nth-of-type(1) .district,
        .callback-modal .callback-form .adress-card__head:nth-of-type(1) .ifns,
        .callback-modal .callback-form .adress-card__head:nth-of-type(1) .district {
          display: none; } }
    .modal-adress .adress-card .adress-card__field,
    .modal-adress .callback-form .adress-card__field,
    .callback-modal .adress-card .adress-card__field,
    .callback-modal .callback-form .adress-card__field {
      text-align: center;
      color: #444444;
      padding: 0.5em 0;
      margin: 0;
      font-size: 1em; }
      @media screen and (max-width: 576px) {
        .modal-adress .adress-card .adress-card__field,
        .modal-adress .callback-form .adress-card__field,
        .callback-modal .adress-card .adress-card__field,
        .callback-modal .callback-form .adress-card__field {
          font-size: 0.85em; } }
      .modal-adress .adress-card .adress-card__field .adress,
      .modal-adress .callback-form .adress-card__field .adress,
      .callback-modal .adress-card .adress-card__field .adress,
      .callback-modal .callback-form .adress-card__field .adress {
        text-align: start; }
      @media screen and (max-width: 768px) {
        .modal-adress .adress-card .adress-card__field .ifns_ajax,
        .modal-adress .callback-form .adress-card__field .ifns_ajax,
        .callback-modal .adress-card .adress-card__field .ifns_ajax,
        .callback-modal .callback-form .adress-card__field .ifns_ajax {
          justify-content: flex-start;
          margin-bottom: 0.5em; } }
      @media screen and (max-width: 576px) {
        .modal-adress .adress-card .adress-card__field .ifns_ajax,
        .modal-adress .callback-form .adress-card__field .ifns_ajax,
        .callback-modal .adress-card .adress-card__field .ifns_ajax,
        .callback-modal .callback-form .adress-card__field .ifns_ajax {
          justify-content: center; } }
    .modal-adress .adress-card .adress-card__field .image,
    .modal-adress .callback-form .adress-card__field .image,
    .callback-modal .adress-card .adress-card__field .image,
    .callback-modal .callback-form .adress-card__field .image {
      padding: 0 15px;
      align-items: center;
      overflow: hidden; }
      @media screen and (max-width: 768px) {
        .modal-adress .adress-card .adress-card__field .image,
        .modal-adress .callback-form .adress-card__field .image,
        .callback-modal .adress-card .adress-card__field .image,
        .callback-modal .callback-form .adress-card__field .image {
          margin-bottom: 0.5em; } }
      .modal-adress .adress-card .adress-card__field .image .image_wrap,
      .modal-adress .callback-form .adress-card__field .image .image_wrap,
      .callback-modal .adress-card .adress-card__field .image .image_wrap,
      .callback-modal .callback-form .adress-card__field .image .image_wrap {
        width: 100%; }
      .modal-adress .adress-card .adress-card__field .image img,
      .modal-adress .callback-form .adress-card__field .image img,
      .callback-modal .adress-card .adress-card__field .image img,
      .callback-modal .callback-form .adress-card__field .image img {
        display: block;
        width: 100%;
        width: initial;
        height: auto;
        max-height: 400px;
        max-width: 100%; }
      .modal-adress .adress-card .adress-card__field .image .slick-arrow,
      .modal-adress .callback-form .adress-card__field .image .slick-arrow,
      .callback-modal .adress-card .adress-card__field .image .slick-arrow,
      .callback-modal .callback-form .adress-card__field .image .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        border: none;
        border-radius: 50%;
        outline: none;
        background: transparent;
        width: 25px;
        height: 25px;
        background: url("../png/next.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
        .modal-adress .adress-card .adress-card__field .image .slick-arrow.slick-next,
        .modal-adress .callback-form .adress-card__field .image .slick-arrow.slick-next,
        .callback-modal .adress-card .adress-card__field .image .slick-arrow.slick-next,
        .callback-modal .callback-form .adress-card__field .image .slick-arrow.slick-next {
          right: 15px;
          transform: translateY(-50%); }
        .modal-adress .adress-card .adress-card__field .image .slick-arrow.slick-prev,
        .modal-adress .callback-form .adress-card__field .image .slick-arrow.slick-prev,
        .callback-modal .adress-card .adress-card__field .image .slick-arrow.slick-prev,
        .callback-modal .callback-form .adress-card__field .image .slick-arrow.slick-prev {
          left: 15px;
          transform: translateY(-50%) rotate(180deg); }
    .modal-adress .adress-card .adress-card__field div.discription,
    .modal-adress .callback-form .adress-card__field div.discription,
    .callback-modal .adress-card .adress-card__field div.discription,
    .callback-modal .callback-form .adress-card__field div.discription {
      align-items: flex-start; }
      .modal-adress .adress-card .adress-card__field div.discription p,
      .modal-adress .callback-form .adress-card__field div.discription p,
      .callback-modal .adress-card .adress-card__field div.discription p,
      .callback-modal .callback-form .adress-card__field div.discription p {
        text-align: start; }
    .modal-adress .adress-card .modal_form,
    .modal-adress .callback-form .modal_form,
    .callback-modal .adress-card .modal_form,
    .callback-modal .callback-form .modal_form {
      text-align: center; }
      .modal-adress .adress-card .modal_form input,
      .modal-adress .callback-form .modal_form input,
      .callback-modal .adress-card .modal_form input,
      .callback-modal .callback-form .modal_form input {
        display: inline-block;
        background: none;
        width: 49%;
        height: 40px;
        border: none;
        border-bottom: 1px solid #6abf8e;
        font-size: 1em;
        outline: none;
        padding: 0.2em 0.7em; }
        @media screen and (max-width: 414px) {
          .modal-adress .adress-card .modal_form input,
          .modal-adress .callback-form .modal_form input,
          .callback-modal .adress-card .modal_form input,
          .callback-modal .callback-form .modal_form input {
            width: 95%;
            margin-top: 0.2rem; } }
      .modal-adress .adress-card .modal_form button.button,
      .modal-adress .callback-form .modal_form button.button,
      .callback-modal .adress-card .modal_form button.button,
      .callback-modal .callback-form .modal_form button.button {
        background: #3d6277;
        border-radius: 0 0 0.7em 0.7em;
        color: #ffffff;
        margin-top: 0.2rem; }
    .modal-adress .adress-card .close-btn,
    .modal-adress .callback-form .close-btn,
    .callback-modal .adress-card .close-btn,
    .callback-modal .callback-form .close-btn {
      position: absolute;
      top: 6px;
      right: 7px;
      cursor: pointer;
      background: #ffffff;
      border-radius: 50%; }
      .modal-adress .adress-card .close-btn .close,
      .modal-adress .callback-form .close-btn .close,
      .callback-modal .adress-card .close-btn .close,
      .callback-modal .callback-form .close-btn .close {
        width: 25px;
        height: 25px;
        display: block; }

.callback-modal .callback-form {
  padding: 0.5rem;
  width: 400px; }
  @media screen and (max-width: 576px) {
    .callback-modal .callback-form {
      width: 95%;
      max-height: 90vh;
      overflow: auto; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

h1 {
  font-size: 2em;
  padding: 1em 0; }

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #ebebe8; }

.logo {
  font-family: "Cookie";
  font-size: 3em; }

.button {
  width: 100%;
  height: 40px;
  padding: 0.5em 1em;
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  transition: 0.5s; }
  .button:hover {
    filter: brightness(90%); }

.pink {
  color: #be4888; }

.header,
.footer {
  background: #454545;
  padding: 1em 0;
  position: relative;
  z-index: 1; }
  .header .header-top,
  .footer .header-top {
    background: #454545; }
    .header .header-top .header-top-item,
    .footer .header-top .header-top-item {
      display: flex;
      align-items: center; }
      .header .header-top .header-top-item .header-top-item__contacts,
      .footer .header-top .header-top-item .header-top-item__contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .header .header-top .header-top-item .header-top-item__contacts .email,
        .header .header-top .header-top-item .header-top-item__contacts .phone,
        .footer .header-top .header-top-item .header-top-item__contacts .email,
        .footer .header-top .header-top-item .header-top-item__contacts .phone {
          margin: 0.5em 0;
          transition: 0.5s; }
          .header .header-top .header-top-item .header-top-item__contacts .email:hover,
          .header .header-top .header-top-item .header-top-item__contacts .phone:hover,
          .footer .header-top .header-top-item .header-top-item__contacts .email:hover,
          .footer .header-top .header-top-item .header-top-item__contacts .phone:hover {
            color: #be4888; }
        @media screen and (max-width: 667px) {
          .header .header-top .header-top-item .header-top-item__contacts,
          .footer .header-top .header-top-item .header-top-item__contacts {
            display: none; } }
      .header .header-top .header-top-item .header-top-item__burger,
      .footer .header-top .header-top-item .header-top-item__burger {
        display: none;
        width: 100%;
        cursor: pointer; }
        @media screen and (max-width: 667px) {
          .header .header-top .header-top-item .header-top-item__burger,
          .footer .header-top .header-top-item .header-top-item__burger {
            display: flex;
            flex-direction: column;
            align-items: flex-end; } }
        .header .header-top .header-top-item .header-top-item__burger .burger-line,
        .footer .header-top .header-top-item .header-top-item__burger .burger-line {
          width: 26px;
          height: 3px;
          background: #ffffff;
          margin: 0.2em 0;
          transition: 0.5s; }
        .header .header-top .header-top-item .header-top-item__burger.burger_close .burger-line:nth-of-type(1),
        .footer .header-top .header-top-item .header-top-item__burger.burger_close .burger-line:nth-of-type(1) {
          transform: translateY(4.7px) rotate(-45deg); }
        .header .header-top .header-top-item .header-top-item__burger.burger_close .burger-line:nth-of-type(2),
        .footer .header-top .header-top-item .header-top-item__burger.burger_close .burger-line:nth-of-type(2) {
          display: none; }
        .header .header-top .header-top-item .header-top-item__burger.burger_close .burger-line:nth-of-type(3),
        .footer .header-top .header-top-item .header-top-item__burger.burger_close .burger-line:nth-of-type(3) {
          transform: translateY(-4.7px) rotate(45deg); }
  .header .navigation,
  .footer .navigation {
    padding: 1em 0; }
    .header .navigation .navigation-menu .nav-item,
    .footer .navigation .navigation-menu .nav-item {
      margin-right: 1em;
      color: #e2e0d7;
      text-transform: uppercase;
      transition: 0.5s; }
      .header .navigation .navigation-menu .nav-item:hover,
      .footer .navigation .navigation-menu .nav-item:hover {
        color: #be4888; }
    @media screen and (max-width: 667px) {
      .header .navigation,
      .footer .navigation {
        display: none; } }
  .header .navigation-min,
  .footer .navigation-min {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding-top: 1em;
    background: #454545;
    z-index: -1; }
    .header .navigation-min .navigation-menu,
    .footer .navigation-min .navigation-menu {
      display: flex;
      flex-direction: column; }
      .header .navigation-min .navigation-menu .nav-item,
      .header .navigation-min .navigation-menu .phone,
      .footer .navigation-min .navigation-menu .nav-item,
      .footer .navigation-min .navigation-menu .phone {
        margin-bottom: 1em;
        color: #e2e0d7;
        text-transform: uppercase;
        transition: 0.5s; }
        .header .navigation-min .navigation-menu .nav-item:hover,
        .header .navigation-min .navigation-menu .phone:hover,
        .footer .navigation-min .navigation-menu .nav-item:hover,
        .footer .navigation-min .navigation-menu .phone:hover {
          color: #be4888; }

.main-section {
  position: relative;
  margin-bottom: 5em; }
  .main-section .title {
    text-align: center;
    color: #444444; }
  .main-section .row {
    justify-content: center; }
  .main-section .slider img {
    width: 100%;
    box-shadow: 0.4em 0.4em 1em #000; }
  .main-section .contact-form {
    padding: 3em 0.9em;
    background: #e2e0d7;
    box-shadow: 0 0 1em #000;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1.1); }
    @media screen and (max-width: 991px) {
      .main-section .contact-form {
        transform: scale(1);
        margin-top: 2em; } }
    .main-section .contact-form p {
      color: #444444;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      line-height: 1; }

.main-section .contact-form p,
.callback-modal .callback-form p {
  color: #444444;
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1;
  margin-top: 1rem; }

.main-section .contact-form .form-callback,
.callback-modal .callback-form .form-callback {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-section .contact-form .form-callback input,
  .main-section .contact-form .form-callback button,
  .callback-modal .callback-form .form-callback input,
  .callback-modal .callback-form .form-callback button {
    width: 100%;
    height: 40px;
    margin: 0.3em 0;
    border: none;
    font-size: 1em;
    outline: none; }
  .main-section .contact-form .form-callback input,
  .callback-modal .callback-form .form-callback input {
    padding: 0.2em 0.7em; }
  .main-section .contact-form .form-callback .btn-callback,
  .callback-modal .callback-form .form-callback .btn-callback {
    background: #6abf8e;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s; }
    .main-section .contact-form .form-callback .btn-callback:hover,
    .callback-modal .callback-form .form-callback .btn-callback:hover {
      filter: brightness(90%); }

.callback-modal .callback-form .form-callback {
  margin-top: 1rem; }

.section {
  width: 100%; }
  .section .title {
    width: 100%;
    position: relative;
    z-index: 0;
    text-align: center; }
    .section .title h2 {
      display: inline;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-weight: 500;
      background: #ebebe8;
      color: #444444;
      padding: 0 1em; }
      .section .title h2::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 2px;
        background: #444444;
        top: calc(50% - 2px);
        left: 0; }
  .section .content {
    padding: 4em 0;
    line-height: 2em; }
  .section .content.services .services-item {
    margin: 0.7em 0;
    transition: 0.5s; }
    .section .content.services .services-item .services-item__title {
      background: #e2e0d7;
      text-align: center;
      padding: 0.7em 1em;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 0 0 0.5em #444444;
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center; }
      .section .content.services .services-item .services-item__title:hover {
        transform: translateY(-0.4em); }
      .section .content.services .services-item .services-item__title .services__icon {
        width: 25px;
        height: 25px;
        margin-right: 0.6em;
        padding: 1em; }
    .section .content.services .services-item .services-item__box {
      display: none;
      padding: 2em 1em; }
      .section .content.services .services-item .services-item__box > p {
        margin-bottom: 1em; }
      .section .content.services .services-item .services-item__box .price-box {
        margin-top: 2em; }
        .section .content.services .services-item .services-item__box .price-box p {
          font-size: 1.3em;
          font-weight: 500; }
        .section .content.services .services-item .services-item__box .price-box button {
          background: #6abf8e;
          color: #ffffff;
          margin-top: 2em;
          border: 1px solid #444444; }
    .section .content.services .services-item:nth-of-type(1) .price-box {
      width: calc(50% - 2em); }
      @media screen and (max-width: 768px) {
        .section .content.services .services-item:nth-of-type(1) .price-box {
          width: 100%; } }

.tarif-section .content {
  justify-content: center; }
  .tarif-section .content .tarif-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #444444;
    padding: 15px 15px 15px 15px;
    margin: 0 1em 1em;
    box-shadow: 0 0 0.5em #444444;
    transition: 0.5s; }
    .tarif-section .content .tarif-item:hover {
      transform: scale(1.05); }
    .tarif-section .content .tarif-item .tarif-info {
      list-style: none;
      margin-top: 2em; }
      .tarif-section .content .tarif-item .tarif-info .tarif-info__item {
        padding-left: 1.9em;
        margin-bottom: 0.5em;
        position: relative; }
        .tarif-section .content .tarif-item .tarif-info .tarif-info__item::before {
          content: "+";
          width: 0.7em;
          position: absolute;
          color: #87b9af;
          top: 0;
          bottom: 0;
          left: -0.3em;
          margin-left: 0.3em;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center; }
      .tarif-section .content .tarif-item .tarif-info .minus::before {
        content: "-"; }
      .tarif-section .content .tarif-item .tarif-info .attention::before {
        content: "!"; }
    .tarif-section .content .tarif-item div {
      width: 100%;
      text-align: center;
      margin-top: 1.5em; }
      .tarif-section .content .tarif-item div .tarif__price {
        color: #be4888;
        font-size: 1.5em;
        font-weight: 700; }
      .tarif-section .content .tarif-item div .tarif__btn {
        background: #6abf8e;
        color: #ffffff;
        margin-top: 1em; }

.adreses-section .content {
  padding-bottom: 3em; }
  .adreses-section .content .slider .slider-item {
    margin: 0 0.5em; }
    .adreses-section .content .slider .slider-item a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em 1em;
      height: 300px;
      box-shadow: 0 0 0.5em #444;
      position: relative;
      cursor: pointer; }
      .adreses-section .content .slider .slider-item a::after {
        content: "";
        background: #444444;
        opacity: 0.3;
        position: absolute;
        width: 100%;
        height: 300px;
        left: 0;
        top: 0;
        transition: 1.2s; }
      .adreses-section .content .slider .slider-item a:hover::after {
        opacity: 0; }
      .adreses-section .content .slider .slider-item a p {
        width: 100%;
        text-align: center;
        background: rgba(61, 98, 119, 0.6);
        padding: 0 0.5em;
        font-size: 0.8em; }
      .adreses-section .content .slider .slider-item a button {
        background: rgba(61, 98, 119, 0.6);
        color: white;
        text-transform: lowercase; }

.adreses-section .section-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 4em; }
  .adreses-section .section-footer .slider__btn {
    background: #6abf8e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600; }

.aboutus-section .content ul {
  margin-left: 2rem; }

.contacts-section .content {
  padding-bottom: 0; }
